.nav-bar {
  display: flex;
  font-weight: 100;
  font-size: 13.5px;
  font-family: "Open Sans", sans-serif;
}

.nav-bar a {
  text-decoration: none;
  padding: 1.08em 0.8em 1em 0.7em;
  color: #55575a;
}

a{
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.nav-bar a:hover {
  color: #1967d2;
}

#header {
  display: flex;
  background-color: #e3ffe6;
  height: 575px;
  margin: 0em 1em;
}

#header-text {
  font-family: "Open Sans", sans-serif;
  color: #55575a;
  padding: 7.2em 3em 4em 7.3em;
  max-width: 600px;
}

#header-text h1 {
  font-family: "Albert Sans", sans-serif;
  font-size: 58px;
  color: #3d4043;
  margin-top: 0;
  margin-bottom: -10;
  letter-spacing: -2;
}

#header-text h5 {
  margin-bottom: 0.7em;
  font-weight: 400;
  font-size: 15.5px;
  line-height: 1.5;
}

.b1 {
  font-size: 16px;
  font-weight: 500;
  color: #3d4043;
  font-family: "Albert Sans", sans-serif;
  border-color: #3d4043;
  border-radius: 4px;
  line-height: 24px;
  margin-top: 14px;
  background-color: transparent;
  padding: 6px 18px;
  cursor: pointer;
}

.b1:hover {
  background-color: #3d4043;
  color: white;
}

#d1 {
  font-family: "Albert Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #3d4043;
  margin-top: 78px;
}

.items {
  display: flex;
  align-items: baseline;
  margin: 100px 100px 60px 100px;
  color: #3d4043;
  font-family: "Albert Sans", sans-serif;
}

.items div div {
  background-color: rgb(248, 249, 250);
  border-radius: 10%;
  height: max-content;
  width: max-content;
}

.items h4 {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: -2px;
}

.items p {
  line-height: 24px;
  letter-spacing: 0.2px;
}

.items div {
  margin-right: 40px;
}

.items div div:hover {
  background-color: rgb(241, 239, 240);
  cursor: pointer;
}

hr{
  opacity:20%; 
  margin: 10px 90px;
}

footer {
  margin: 0 80px 16px 80px;
  display: flex;
  justify-content: space-between;
}

footer div img {
  opacity: 75%;
  padding: 0px 8px;
  margin-top: -1.2px;
}

.footer-content a {
  color: #55575a;
  font-size: 11px;
  font-family: "Open sans", sans-serif;
  padding: 0px 16px;
  text-decoration: none;
}

.big-banner{
  position: relative;
}

.big-banner div{
  font-family: "Albert-Sans", sans-serif;
  color: #3d4043;
  font-size: 38px;
  font-weight: 600;
}

.big-banner img{
  border-radius: 25px;
  margin: 0px 0px 30px 16px;
}

#banner1{
  line-height: 48px;
  position: absolute;
  left: 134px;
  top: 227px;
}

#banner2{
  position: absolute;
  line-height: 38px;
  top: 234px;
  right: 286px;
}

.disclaimer{
  font-family: 'Albert-Sans', sans-serif;
  font-size: 10px;
  color: #55575ad9;
  margin: 0px 150px;
  padding-bottom: 10px;
}

.items2{
  display: flex;
  justify-content: center;
  color: #3d4043;
  font-family: "Albert Sans", sans-serif;
}

.items2 div div img{
  border-radius: 10%;
  margin: 23px;
}

.items2 h4{
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #1967d2;
  margin: -5px 125px 80px ;
}

.items2 div div:hover{
  cursor: pointer;
}

.home-end{
  background-color: #f8f9fa;
  height: 320px;
  margin: 0px 30px 70px;
  font-family: 'Albert-Sans', sans-serif;
  font-size: 30px;
  color: #3d4043f5;
  line-height: 35px;
  font-weight: 600;
}

#about-us{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 45px;
  font-weight: 400; 
  margin: 150px 0 100px;
}

.about-us1{
  position: relative;
  width: 1300px;
  margin-left: 4em;
  margin-bottom: 4.5em;
  padding-top: 1em;
  font-family: 'Open Sans', sans-serif;
}

.about-us1 div{
  position: absolute;
  top: 240px;
  left: 100px;
  line-height: 2.062rem;
  cursor: pointer;
}

.about-us1 p{
  color: white;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  
}

input[type=submit] {
  background-color:#7854c7;
  color: white;
  font-size: 16px;
  padding: 14px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:  #6640b9;
  border: 1px solid #ccc;
}

#feedback{
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 0px 25px 25px;
  margin: 40px 240px 60px;
}

.items3 div div{
  border-radius: 5px;
}

.items3 div div img{
  padding: 50px;
}

.b2{
  color: #1967d2;
  border-color: #1967d2;
}

.b2:hover{
  background-color: #1967d2;
  color: white;
}

.sub-package{
  padding: 20px;
  font-family: 'Albert Sans', sans-serif;
}

.sub-package h4{
  color: #3d4043;
}

.sub-package p{
  display: flex;
  font-size: 15px;
  color: #55575a;
  margin: -10px 0px 20px;
}

.sub-package a{
  color: #1967d2;
  font-size: 15px;  
  padding: 10px;
}

.sub-package a:hover{
  background-color:hsl(215, 77%, 55%,0.05);
}


input[type="text"],
input[type="password"],
input[type="email"]{
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  display: inline;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #3d4043;
  margin-bottom: 30px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  width: 180px;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
  margin-top: -20px;
}

fieldset {
  margin-top: 40px;
  margin-bottom: 30px;
  border: none;
  max-width: 350px;
  font-family: 'Albert Sans', sans-serif;

}

label {
  display: block;
  margin-bottom: 8px;
}

.phones{
  display: flex;
  justify-content: center;
  color: #3c4043;
  font-family: 'Open Sans';
  font-size: 14px;
  margin: 90px 0px 40px 0px;
}

.phones div {
  padding:0px 12px;
}

.phones div div img{
  width: 120px;
}

.phones p{
  text-align: center;
}

.phone1{
  background-color: #f6f4f3;
  padding: 25px 70px;
  margin: 0px 18px 25px 8px;
  border-radius: 25px;
  font-family: "Albert-Sans", sans-serif;
  color: #3d4043;
  text-align: center;
  font-weight: 600;
  font-size: large;
}

.phone1 button{
  margin-top: 5px;
  margin-bottom: 40px;
}

.phone1 h1{
  font-size: 44px;
}

.phone1 h5{
  margin-bottom: 12px;
}

.phone2{
  background-color: #e2eac5;
}